<<<<<<< HEAD
* {

    box-sizing: border-box;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main-container {


    background-color: aqua;
    width: 70%;
    height: 60%;
    margin: auto;
=======
body {
    background-color: red;
>>>>>>> ca8c85f95d9271139541271a60a41aac8ff4361d
}