// Config: fonts
$font-mono: "Cutive Mono", monospace;
// Config: Ease
$ease-cb: cubic-bezier(0.19, 1, 0.22, 1);

//--------------------------
//  nth-trans-delay()
//  @description: Transition Delay on nth-childs
//  @param: $delay_items: [7]    - number of nth-of-type items to create
//  @param: $delay_time:[1.5s]   - transition-dealy value
//--------------------------
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s) {
    @for $i from 1 through $delay_items {
        &:nth-child(#{$i}) {
            transition-delay: $delay_time * $i;
        }
    }
}

//--------------------------
//  nth-ani-delay()
//  @description: Animation Delay on nth-childs
//  @param: $delay_items: [7] - number of nth-of-type items to create
//  @param: $delay_time:[1.5s] - transition-dealy value
//--------------------------
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s) {
    @for $i from 1 through $delay_items {
        &:nth-child(#{$i}) {
            animation-delay: $delay_time * $i;
        }
    }
}
//--------------------------
//  bg-overlay()
//  @description:pseduo overlay element
//  @param: $bg_hex: [$color-dark] - hex value for rgba conversion
//  @param: $bg_opacity:[0.6] - alpha transparency level
//  @param: $top_layer: element or class name for higher z-index layer
//--------------------------
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: ".mast__header") {
    &:after {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(#232526, #414345);
    }

    // Layer atop overlay
    & > #{$top_layer} {
        z-index: 2;
        position: relative;
    }
}
//Setups
*,
*:before,
*:after {
    box-sizing: border-box;
}
// styling the welcome page , with animated text ----------------------------------------------->>
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    
    font-family: $font-mono;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    background: linear-gradient(#232526, #414345);
    
}

.sep {
    border: 0;
    width: 3em;
    height: 1px;
    margin: 1em 0;
    background-color: transparent;
}

.animated-text {
  
 
  position: relative;
  top: -40%;     
  background: transparent;
  margin: auto;
  width: 90%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 555;
  margin-top: 10px;
 
  
  
}



.mast__title {
  font-size: 1.3em !important;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 50px;
  margin-top: 100px;
  color: #5CB9FF;
  line-height: 3;
  
}

// styling the neon button --------------------->

.btn-wrapper{

  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  transition: 1s ease-in-out;
}
.start-quiz-btn {
  height: 65px;
  width: 200px;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: #82919c;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  margin: 23px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  
}
.hidden {

    display: none !important;
    visibility: hidden;
}

.result {

    width: 100%;
    text-align: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.giveup-btn {

    height: 65px;
    transition: all .5s ease-in-out;
    font-weight: bolder;
    letter-spacing: 0.4em;
    text-decoration: none;
    background-color: #82919c;
    color: white;
    position: relative;
    cursor: pointer;
    margin: 23px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    


}
.giveup-btn
:hover {
  transform: scale(1.1);
  background-color: var(--clr);
  box-shadow: 1px 2px 33px var(--clr);
  letter-spacing: .39em;
  color: #5CB9FF;
  
 
}
.giveup-btn
:before {

  content: '';
  position:absolute;
  inset: 2px;
  background: linear-gradient(#232526, #414345);
  z-index: -1;

}
.giveup-btn span {
  
    
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-size: 30px;
    width: 300px;
  
  }

  .restart_quiz {

    display: none;
  }
 
  .restart_btn_active{
    display: 1;
  }


.start-quiz-btn
:hover {
  transform: scale(1.1);
  background-color: var(--clr);
  box-shadow: 1px 2px 33px var(--clr);
  letter-spacing: .39em;
  color: #5CB9FF;
  
 
}

.start-quiz-btn
:before {

  content: '';
  position:absolute;
  inset: 2px;
  background: linear-gradient(#232526, #414345);
  z-index: -1;

}
.start-quiz-btn span {
  
  position: relative;
  z-index: 3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 30px;
  width: 300px;

}



.mast {
    position: relative;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    color: #fff;
    box-shadow: 5px 5px 30px black;
    border: solid 2px black;
    
    
    @include bg-overlay(rgb(31, 31, 31), 1);

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: 50%;
    }

    &__header {
        padding: 5%;
    }
    &__title {
        font-family: $font-mono;
        font-weight: 400;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #5CB9FF;
    }
    // Letter animation
    &__title span {
        animation: letter-glow 0.8s 0s ease both;
        @include nth-ani-delay(600, 0.06s);
    }
    //Letter animation ------------------------------------------- < didn't use maybe deleting>>
    &__text {
        font-family: $font-mono;
        font-size: 1em;
        margin: 0 0 0.5em;
        line-height: 1.5;
        white-space: pre;
        color: #5CB9FF;
    }

    &__text span {
        margin-top: 20px;
        animation: letter-glow 0.5s 0s ease both;
        @include nth-ani-delay(600, 0.05s);
    }
}

// Letter Glow
@keyframes letter-glow {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 1px rgba(217, 230, 41, 0.1);
    }
    66% {
        opacity: 1;
        text-shadow: 0px 0px 20px rgba(0, 255, 76, 0.9);
    }
    77% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
        text-shadow: 0px 0px 20px rgba(248, 203, 203, 0);
    }
}

//------------------------------------------------->


// styling the main page structure


.main-Container {
    
    opacity: 0;
    
    background-color: transparent;
    
    width: 90%;
    border-radius: 2px 2px;
    margin: auto;
    align-self: center;
    box-shadow: 5px 5px 30px black;
    border: solid 2px black;
    
    flex-direction: column;
    z-index: 1;
}
.active {
    
    
    display: 1 !important;
    opacity: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    align-items: center;
    
    
    
    
    


}
.inactive {

    display: none ;
    opacity: 0;
    
    
}

.Qs-container {
    
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

.timer-Container , .qs-Amount{
    border: black 1px solid;
     background-color: #302d2d;
     box-shadow: 5px 5px 20px black;
    height: 100px;
    width: 20%;
    color: rgb(64, 201, 255); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    letter-spacing: 0.1em;
}



.Q-container {
    
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.Q-container p {
    font-size: 42px;
    background: -webkit-linear-gradient(rgb(47, 135, 185), rgb(66, 200, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  
}
.result_span {
    display: inline-block;
   border: 1px solid #5CB9FF;
   color: white;
   font-size: 45px;
   text-align: center;
   padding: 3px 8px;
}

.qs-Amount{
 
    font-size: 35px;
    
}

.score-container {
    width: 200px;
    font-size: 32px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(64, 201, 255); 
    text-align: center;
    font-size: 35px;
    padding: 5px;
    border: black 1px solid;
     background-color: #302d2d;
     box-shadow: 5px 5px 20px black;
}

.score-display {
    padding: 5px;
    font-size: 45px;
}

.answers-container {
   
    height: 45%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}
.disabled {

    pointer-events: none;
    
}
.option-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  font-size: 25px;
  color: rgb(64, 141, 172); 
  
  background-color: #302d2d;
  box-shadow: 5px 5px 20px black;
 
}

.answers-container .option-btn {
   
    height: 22%;
    width: 48%;
    cursor: pointer;
}

.option-btn:hover{
    transition: all .5s ease-in-out;
    background-color: rgb(241, 186, 34);
    color: #111;
    
}

.start-quiz-btn {

    
}

.correct {

    background-color: #12ad2a;
    color: #111;
    font-size: larger;
    font-weight: bold;
    transform: scale(1.05 , 1.03);
}
.wrong {

    background-color: #ff0000;
    color: #111;
    font-size: larger;
    font-weight: bold;
    opacity: 50%;
}